  #Enable URL rewriting
  RewriteEngine On

  #Maintenance
  RewriteCond %{DOCUMENT_ROOT}/comp1230/assignments/assignment2/Assignment2/offline.txt -f
  RewriteCond %{REMOTE_ADDR} !=xxx.xxx.xxx.xxx
  RewriteCond %{REQUEST_URI} !=/comp1230/assignments/assignment2/Assignment2/manageAdmins/503.php
  RewriteCond %{REQUEST_URI} !=/comp1230/assignments/assignment2/Assignment2/manageAdmins/maintenance.png
  RewriteRule .*  503.php [R=503,L]
  ErrorDocument 503 /comp1230/assignments/assignment2/Assignment2/manageAdmins/503.php